<div ng-repeat="project in sourceProjects">
	<h4>
		<a ng-click="getTools(project.entityId)" role="button" data-toggle="collapse" href="#collapse{{project.entityId}}" aria-expanded="false" aria-controls="collapse{{project.entityId}}">
	  	{{project.entityTitle}}
		</a>
	</h4>	
	<div class="clearfix"></div>
	<div class="collapse" id="collapse{{project.entityId}}">
	  <div class="well">
	  
		  <div class="row" ng-if="project.stateMigrating">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<p>{{project.stateMigrating.status}} - started {{project.stateMigrating.dateStarted}} </p>
		  	</div>
		  </div>
		  	<div class="row" ng-if="!project.stateMigrating && !project.stateExportConfirm">
			    	<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
	  					<p>Select tools to migrate {{project.stateExportConfirm}}</p>
	  				</div>
	  				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
	  					<button class="btn btn-primary btn-xs pull-right" ng-show="project.stateSelectionExists && !project.stateExportConfirm" ng-click="startMigrationConfirm(project.entityId)">Export</button>
	  				</div>	
	  	</div>
	  		<div class="alert alert-info row" ng-if="project.stateExportConfirm && !project.stateMigrating">
		    	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding:0">
  					<small>Migration Process of selected tools is about to start. Are you sure?</small>
	  			</div>
  				<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"  style="padding:0">
  					<div class="pull-right">
							<button class="btn btn-primary btn-xs" ng-click="startMigration(project.entityId, project.entityTitle, project.entityId, project.entityTitle, 'Box')">Proceed</button>
							<button class="btn btn-link btn-xs" ng-click="cancelStartMigrationConfirm(project.entityId)">Cancel</button>
						</div>
					</div>
		  	</div>
	  		<div class="alert alert-info row" ng-if="project.stateExportConfirm && !project.stateMigrating">
		    	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding:0">
						  <small ng-show="selectBoxFolder">Currently selected Box folder is <strong><em>{{selectBoxFolder.name}}</em></strong> - <a href="" data-toggle="modal" data-target="#boxFolderModal" ng-click="getBoxFolders()">Change?</a></small>
							<small ng-show="!selectBoxFolder">You will need to select a Box folder <strong><a href="" data-toggle="modal" data-target="#boxFolderModal" ng-click="getBoxFolders()">Select</a></strong>
		    			</small>
  				</div>
  			</div>



	  				
	    <ul class="list-group">
	    	<li class="list-group-item" ng-repeat="tool in project.tools"  ng-if="tool.tools[0].toolId ==='sakai.resources'">
	    		<div class="row"><!-- Button trigger modal -->
			    	<div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
			    		<label ng-if="!project.stateMigrating" for="{{project.id}}{{tool.id}}">{{tool.title}}</label>
			    		<span ng-if="project.stateMigrating">{{tool.title}}</span>
			    	</div>
			    	<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
			    		<input type="checkbox" id="{{project.id}}{{tool.id}}" ng-if="!project.stateMigrating" ng-model="tool.selected" ng-change="checkIfSelectionExists(project.entityId)"/ >
							<span ng-if="project.stateMigrating && tool.selected" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
			    	</div>	
			    </div>		
	    	</li>
	    </ul>	
	  </div>
	</div>
</div>
<div ng-if="!sourceProjects.length">We found no project sites where you are an owner. </div>

<!-- Box Folder Selection Modal -->
<div class="modal fade" id="boxFolderModal" tabindex="-1" role="dialog" aria-labelledby="boxFolderModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Box Folder Selection</h4>
      </div>
      <div class="modal-body">
      <ul class="list-group">
	    	<li class="list-group-item" ng-repeat="folder in boxFolders">
	    		<div class="row"><!-- Button trigger modal -->
		    		<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
		    			<input type="radio" name="boxSelect" ng-model="folderSelected" 
		    				value="folder{{folder.ID}}" id="folder{{folder.ID}}" ng-change="boxFolderSelect({{folder}})">
		    		</div>
		    		<div class="col-md-11 col-lg-11 col-sm-1 col-xs-11">
		    			<label for="folder{{folder.ID}}"> {{folder.name}}</label>
		    		</div>	
	    		</div>
	    	</li>
      </ul>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>