
<div class="spinner" ng-show="loadingProjects"></div>
<div ng-if="!sourceProjects.length && !loadingProjects">
	There are no exports in progress at this time.
</div>
<div>
	<small ng-show="!boxAuthorized"><strong><a class="btn btn-default btn-xs" href="" data-toggle="modal" data-target="#boxAuthModal">Authorize App to Box</a></strong>
	</small>
	<small ng-show="boxAuthorized"><strong><a class="btn btn-default btn-xs" href="" data-toggle="modal" data-target="#boxLogoutModal">Unauthorize App from Box</a></strong>
	</small>
</div>
<div ng-show="sourceProjects.length">
	<ul class="list-group" style="margin-bottom:0">
  	<li ng-repeat="project in sourceProjects | orderBy:'site_name'" 
		ng-class="project.tool_id !== '' ? 'list-group-item toolRow' : 'list-group-item projectRow'" ng-hide="project.hideTools && project.tool">
  		<!--// using same contorsions to match the data model of migrations and migrated -->
  		<div ng-if ="project.site_name !== sourceProjects[$index - 1] && project.tool_id === ''">
  			<div class="row">
	  			<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
	  				<strong id="{{project.site_id}}">{{project.site_name}}</strong>
	  			</div>
	  			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
	  				<span class="label label-default"  ng-show="project.migrating">Migrating...</span>
	  				<a ng-click="getTools(project.site_id)" href="" ng-show="!project.stateHasTools && !project.migrating">
			  			Get tools
						</a>
						<button class="btn btn-primary btn-xs pull-right" ng-show="project.stateSelectionExists && (selectDestinationType.name ==='local' || (selectDestinationType.name ==='box' && selectBoxFolder)) && !project.stateExportConfirm && !project.migrating" ng-click="startMigrationConfirm(project.site_id)">Export</button>
					</div>
				</div>
				<div class="row" ng-show="project.stateExportConfirm">
		    	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
  					<small>Migration Process of selected tools is about to start. Are you sure?</small>
	  			</div>
  				<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
  					<div class="pull-right">
  					<br>
							<button class="btn btn-primary btn-xs" ng-click="startMigration(project.site_id, project.site_name,selectDestinationType.name)">Proceed</button>
							<button class="btn btn-link btn-xs" ng-click="cancelStartMigrationConfirm(project.site_id)">Cancel</button>
						</div>
					</div>
		  	</div>
		  </div>
			<div class="x" ng-hide="project.tool_id === 'notools' || project.tool_id === ''">
				<div ng-show="!project.migrating">
					<div class="row">
					  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
							<label for="check{{project.site_id}}{{project.tool_id}}" style="text-indent:20px;font-weight:normal">{{project.tool_name}}</label>
						</div>
						<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
							<input type="checkbox" id="check{{project.site_id}}{{project.tool_id}}" ng-model="project.selected" ng-change="checkIfSelectionExists(project.site_id)"/ >
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
						</div>
					</div>
					<div class="row" style="margin:0;padding:10px 0 0 5px">
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			    			<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
			    				<input type="radio" name="destinationSelect" ng-model="destinationTypeSelected" value="destinationTypebox" id="destinationTypebox" ng-change="destinationTypeSelect('box','box')">
							</div>
				    		<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
				    			<label for="destinationTypebox">Upload To Box</label>
				    		</div>
				    		<br/>
							<small ng-show="boxAuthorized && selectBoxFolder">Currently selected Box folder is <strong><em>{{selectBoxFolder.name}}</em></strong> - <a href="" data-toggle="modal" data-target="#boxFolderModal" ng-click="getBoxFolders()">Change?</a></small>
			    			</small>
				    		<small ng-show="boxAuthorized && !selectBoxFolder">You will need to select a Box folder <strong><a class="btn btn-default btn-xs" href="" data-toggle="modal" data-target="#boxFolderModal" ng-click="getBoxFolders()">Select</a></strong>
				    		</small>
						</div>
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
							<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">	
								<input type="radio" name="destinationSelect" ng-model="destinationTypeSelected" value="destinationTypelocal" id="destinationTypelocal" ng-change="destinationTypeSelect('local','local')">
							</div>
				    		<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
				    			<label for="destinationTypelocal">Download as a Zip file</label>
				    		</div>
						</div>
					</div>
				</div>	


				<div ng-show="project.migrating">
					<div class="row">
					  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
							<span>{{project.tool_name}}</span>
						</div>
						<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
							<div class="spinner"></div>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-show="project.tool_id === 'notools'">
			  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			  	{{project.tool_name}}
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- Button trigger modal -->
<!-- Box Folder Selection Modal -->
<div class="modal fade" id="boxFolderModal" tabindex="-1" role="dialog" aria-labelledby="boxFolderModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Box Folder Selection. {{boxFolders.length}} folders found.</h4>
      </div>
      <div class="modal-body" style="max-height: 250px;overflow-y: auto;">
	      <ul class="list-group">
		    	<li class="list-group-item" ng-repeat="folder in boxFolders">
		    		<div class="row"><!-- Button trigger modal -->
			    		<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
			    			<input type="radio" name="boxSelect" ng-model="folderSelected" 
			    				value="folder{{folder.ID}}" id="folder{{folder.ID}}" ng-change="boxFolderSelect({{folder}})">
			    		</div>
			    		<div class="col-md-11 col-lg-11 col-sm-1 col-xs-11">
			    			<label for="folder{{folder.ID}}"> {{folder.name}}</label>
			    		</div>	
		    		</div>
		    	</li>
	      </ul>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!selectBoxFolder">Done</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<!-- Box Authentication Modal -->
<div class="modal fade" id="boxAuthModal" tabindex="-1" role="dialog" aria-labelledby="boxAuthModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <iframe src="/box/authorize" style="zoom:0.60" frameborder="0" height="600" width="99.6%"></iframe>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="boxAuthorized=true;">Done</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Box Logout Modal -->
<div class="modal fade" id="boxLogoutModal" tabindex="-1" role="dialog" aria-labelledby="boxLogoutModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      Are you sure you want to unauthorize this app to access your Box account?
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="boxUnauthorize();boxAuthorized=false;">Unauthorize</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


