<div ng-if="!migratingProjects.length && !migratingProjectsError" class="no-items">
	There are no exports in progress at this time.
</div>
<div ng-if="migratingProjectsError" class="alert alert-danger" role="alert">
	<span class="emoji">😵</span> There was an error retrieving current migrations!
</div>


<div ng-if="migratingProjects.length && !migratingProjectsError">
	<ul class="list-group" style="margin-bottom:0">
  	<li class="list-group-item" ng-repeat="migratingProject in migratingProjects">
  		<div style="border-bottom: 1px solid #ddd;margin:-6px -13px 10px;padding:0 5px 5px 5px">
  			<h4 class="site-header">{{migratingProject.site_name}}</h4>
  		</div>
  		<div class="row">
	  		<div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
	    			{{migratingProject.tool_name}} 
		  	</div>
		  	<div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
	    			{{migratingProject.site_name}}
		  	</div>
		  	<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
	    			<div class="spinner"></div>
		  	</div>
		  </div>
		  <div class="row">
	  		<div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
	    			<small>Started: {{migratingProject.start_time | date:'MM/dd @ h:mma'}}</small>
		  	</div>
		  	<div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
	    			<small>Destination: {{migratingProject.destination_type}}</small>
		  	</div>
		  </div>	
		</li>
	</ul>
</div>
