
<div ng-if="!migratedProjects.length && !migratedProjectsError" class="no-items">
	There are no completed exports at this time.
</div>

<div ng-if="migratedProjectsError" class="alert alert-danger" role="alert">
	<span class="emoji">🤕</span> There was an error retrieving completed migrations!
</div>

<div ng-if="migratedProjects.length && !migratedProjectsError">
	<ul class="list-group" style="margin-bottom:0">
  	<li class="list-group-item" ng-repeat="migratedProject in migratedProjects">
  		<!--//this is not very good, but leaves the model untouched for polling needs
  		and presents a categorized view -->
  		<div style="border-bottom: 1px solid #ddd;margin:-6px -13px 10px;padding:0 5px 5px 5px" ng-if ="migratedProject.site_id !== migratedProjects[$index - 1].site_id">
  			<h4 class="site-header">{{migratedProject.site_name}}</h4>
  		</div>
  		<div class="row">
	  		<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
	    			{{migratedProject.tool_name}} <small class="muted">({{migratedProject.end_time | date:'MM/dd h:mma'}})</small>
		  	</div>
		  	<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" style="text-align:right">
		  		<small><a href="" ng-click="showDetails($index, migratedProject.site_name, migratedProject.destination_type )">(info) <span class="sr-only"> on migration of {{migratedProject.tool_name}} for {{migratedProject.site_name}}</span></a></small>
		  	</div>
		  </div>
		  <div class="row">
				<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
				  <span ng-show="migratedProject.destination_type==='Box' && migratedProject.destination_url">
				    <a href ="" target="_blank" ng-href="{{getBoxTargetUrl(migratedProject.destination_url)}}">
				      Exported to 
				      <span class="sr-only">Go to Box folder for content migrated from site {{migratedProject.site_name}}</span>
				      <span aria-hidden="true">{{migratedProject.destination_type}} - {{migratedProject.destination_folder}}</span>
				    </a>
				  </span>

				 <span ng-show="migratedProject.destination_url===null">{{migratedProject.destination_type}}</span>
				</div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="text-align:right">
          <small ng-show="migratedProject.status.data.counts.failures !==0" class="export-fail">
            There were {{migratedProject.status.data.counts.failures}} failures
          </small>
        </div>
		  	</div>
		  </div>
		</li>
	</ul>
</div>
