a {
	color:#005bb2;
}
small.export-fail {
	color:#c00 !important;
}
small.export-success {
	color:#390 !important;
}
.myworkspace {
	margin-bottom:10px;
}
.myworkspace + li.toolRow{
	margin-bottom:10px;
	margin-top:-11px;
}
.GradToolsStudent {
	background: #ffe !important;
}
small, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
	color:#000 !important;
}
.btn-primary {
	background:#005bb2;
}
.btn-primary:hover {
	background:#0068cc
}
.site-header {
	font-size: 14px;
  margin: 0;
  padding: 3px 0 0;
}

h3, h4.site-header {
	font-weight: bolder
}
.alert-inline {
    display:inline-block;font-size: 14px;font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.noFocus:focus {
	outline:none;
}
#statusModal .modal-dialog {
	width:700px
}
.muted {

}

#helpLink {
	padding:7px;margin-top: 7px;color:fff;border:1px solid transparent;
}
#helpLink:hover {
	color:fff;
	background: #0068cc
}
.btn-primary[disabled] {
	background:#000;
}

.resDestPanel {
	padding-left:30px;
}
.resDestPanel small label, .resDestPanel small a, .resDestPanel small span  {
	font-size: 13px;
}
.bigSmall {
	font-size: 13px;
}
.boxIFrame {
	width:100%;
	height:450px;
}

#boxAuthModal .modal-body {
	min-height:450px;
}
.topMenu {
	padding-bottom: 15px;
  padding-top: 0;
  text-align: right;
}
}
#boxFolderModal .modal-body {
	max-height: 250px;
	overflow-y: auto;
}
.emoji {
	font-size:125%
}
.spinner {
    background: url("../images/dots.gif") no-repeat scroll 0 10px transparent;
    display: inline-block;
    height: 20px;
    width: 20px;
}
label {
	font-weight:normal;
}
.statusButton {
	display: inline-block;
	height: 20px;
	position: absolute;
	right: 0;
	top: 50px;
	width:20px;
}
h3.panel-title small {
	font-size: 13px;
	padding-left:20px;
}
.panel-title-batch {
  margin:20px 0
}

.has-error label {
  color:#a94442
}

.glyphicon-ok {
  color:green
}

.glyphicon-fire {
  color:red
}

.table th {
  font-weight:normal
}

@media (max-width: 480px) {
	.panel-heading {
		background-color: #777 !important;
		color:#fff !important;
	}
	.no-items {
		padding:10px;
	}
	.panel-body {
		padding:0;
	}
	.panel-body div.alert {
		margin:5px;
	}
	.list-group-item {
		border-width:0 0 2px 0;
	}
	.list-group-item:first-child {
		border-radius:0;
	}
	.modal {
		width: 100%;
	  height: 100%;
	  padding: 0;
	}
	.modal-dialog {
	  width: 100%;
	  height: 100%;
	  padding: 0;
	  margin:0;
	}
	.boxFolderModal .modal-dialog {
		height:auto !important;
	}

	.modal-footer {
		background:#fff;
	}

	.modal-content {
	  max-height: none;
	  height: 100%;
	  border-radius: 0;
	}

	.topMenu {
	padding-top:0px;
	text-align:left;
	padding-bottom:10px;
}

#statusModal .modal-dialog {
	width:auto
}

	#boxFolderModal .modal-body {
		max-height:none;
	}
}
