a {
	color:#005bb2;
}
small.export-fail {
	color:#c00 !important;
}
small.export-success {
	color:#390 !important;
}
.myworkspace {
	margin-bottom:10px;
}
.myworkspace + li.toolRow{
	margin-bottom:10px;
	margin-top:-11px;
}
.projectRow{
  background: #fffae6;
}
.GradToolsStudent {
	background: #ffe !important;
}
small, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
	color:#000 !important;
}
.btn-primary {
	background:#005bb2;
}
.btn-primary:hover {
	background:#0068cc
}
.site-header {
	font-size: 14px;
  margin: 0;
  padding: 3px 0 0;
}

h3, h4.site-header {
	font-weight: bolder
}
.alert-inline {
    display:inline-block;font-size: 14px;font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.noFocus:focus {
	outline:none;
}
#statusModal .modal-dialog {
	width:700px
}
.muted {

}

.specialLink a {
  text-decoration: underline
}

#batch{
  margin-right:10px
}
#batch, #helpLink {
	padding:7px;margin-top: 7px;color:fff;border:1px solid transparent;
}
#batch:hover, #helpLink:hover {
	color:fff;
	background: #0068cc
}
.btn-primary[disabled] {
	background:#000;
}

.resDestPanel {
	padding-left:30px;
}
.resDestPanel small label, .resDestPanel small a, .resDestPanel small span  {
	font-size: 13px;
}
.bigSmall {
	font-size: 13px;
}
.boxIFrame {
	width:100%;
	height:450px;
}

#boxAuthModal .modal-body {
	min-height:450px;
}
.topMenu {
	padding-bottom: 15px;
  padding-top: 0;
  text-align: right;
}
}
#boxFolderModal .modal-body {
	max-height: 250px;
	overflow-y: auto;
}
.emoji {
	font-size:125%
}
.spinner {
    background: url("../images/dots.gif") no-repeat scroll 0 10px transparent;
    display: inline-block;
    height: 20px;
    width: 20px;
}
label {
	font-weight:normal;
}
.statusButton {
	display: inline-block;
	height: 20px;
	position: absolute;
	right: 0;
	top: 50px;
	width:20px;
}
h3.panel-title small {
	font-size: 13px;
	padding-left:20px;
}
.panel-title-batch {
  margin:20px 0
}

.has-error label {
  color:#a94442
}

.glyphicon-ok {
  color:green
}

.glyphicon-warning-sign {
  color:red
}
.mask {
  bottom: 0;
  margin-bottom: 21px;
  left: 16px;
  border-radius: 3px;
  outline: 0 none;
  overflow: hidden;
  position: absolute;
  right: 16px;
  top: 0;
  z-index: 1050;
  background:#ccc;
  opacity: 0.5;
}


.maskMessage {
  color: #000;
  font-size: 45px;
  left: 20%;
  padding: 20px;
  position: absolute;
  right: 20%;
  text-align: center;
  top: 200px;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,0, 0.2);
  border-right: 1.1em solid rgba(0,0,0, 0.2);
  border-bottom: 1.1em solid rgba(0,0,0, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.table th {
  font-weight:normal
}

a[role="tab"] {
  font-weight: bold;
  font-size: 110%;
  color:#000;
}

.alert {
  color:#000
}
a {
  color: #004e99
}
.btn-primary {
  background: #004e99
}
#ie {
      display: none
    }

    .toolRow.ng-move,
    .toolRow.ng-enter,
    .toolRow.ng-leave {
      -webkit-transition:all .5s ease;
       -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
       opacity:0.5;
       position:relative;
       opacity:0;
       top:0px;
       left:20px;


      /*-webkit-transition:all linear .75s;
      transition:all linear .75s;*/
    }

    .toolRow.ng-leave.ng-leave-active,
    .toolRow.ng-move,
    .toolRow.ng-enter {
      opacity:0;
    }

    .toolRow.ng-leave,
    .toolRow.ng-move.ng-move-active,
    .toolRow.ng-enter.ng-enter-active {
      top:0;
      left:0;
      opacity: 1;


    }

/*for ie edge*/
@supports (-ms-accelerator:true) {
  #ie {
    display: block
  }
  #contentBody {
    display: none
  }
}
/*for ie 9, 10, 11*/
@media screen and (min-width:0\0) {
  #ie {
    display: block
  }
  #contentBody {
    display: none
  }
}

@media (max-width: 480px) {
	.panel-heading {
		background-color: #777 !important;
		color:#fff !important;
	}
	.no-items {
		padding:10px;
	}
	.panel-body {
		padding:0;
	}
	.panel-body div.alert {
		margin:5px;
	}
	.list-group-item {
		border-width:0 0 2px 0;
	}
	.list-group-item:first-child {
		border-radius:0;
	}
	.modal {
		width: 100%;
	  height: 100%;
	  padding: 0;
	}
	.modal-dialog {
	  width: 100%;
	  height: 100%;
	  padding: 0;
	  margin:0;
	}
	.boxFolderModal .modal-dialog {
		height:auto !important;
	}

	.modal-footer {
		background:#fff;
	}

	.modal-content {
	  max-height: none;
	  height: 100%;
	  border-radius: 0;
	}

	.topMenu {
	padding-top:0px;
	text-align:left;
	padding-bottom:10px;
}



#statusModal .modal-dialog {
	width:auto
}

	#boxFolderModal .modal-body {
		max-height:none;
	}
}
