.spinner {
    background: url("../images/dots.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    width: 20px;	
}
.projectRow {
	background:#eee;
}
.toolRow {
	background:#fff;
}