<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Project Site Migration - Batch</title>
<link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/custom.css">
</head>

<body ng-app="projectMigrationApp">
<nav role="navigation" class="navbar navbar-default"
		style="background: #00274c">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header mastHead">
				<button data-target="#bs-example-navbar-collapse-1"
					data-toggle="collapse" class="navbar-toggle collapsed"
					type="button">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<h1 class="navbar-brand collapse-nav" style="margin: 0; color: #fff">Project
					Site Migration - Batch</h1>
			</div>
			<div id="bs-example-navbar-collapse-1"
				class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="" class="collapse-nav"
						href="index.html" style="color: #fff">Self Serve</a></li>
					<li><a class="btn btn-md btn-primary" id="helpLink"
						class="collapse-nav"
						href="http://its.umich.edu/projects/ctools-project-sites/training-resources/migration-tool-help"
						style="color: #fff" target="_blank">Migration Tool Help</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid" ng-controller="projectMigrationBatchController">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 topMenu">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 topMenu">
        <a ng-show="!boxAuthorized" class="btn btn-primary" href=""
          data-toggle="modal" data-target="#boxAuthModal">Authorize App
          to Box</a> <a ng-show="boxAuthorized" class="btn btn-primary" href=""
          data-toggle="modal" data-target="#boxLogoutModal">Unauthorize
          App from Box</a>
      </div>

    </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Start a batch migration</h3>
					</div>
					<div class="panel-body">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#upload"
								aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
							<li role="presentation"><a href="#direct"
								aria-controls="direct" role="tab" data-toggle="tab">Direct
									input</a></li>
						</ul>
						<div class="tab-content">
							<form role="tabpanel" class="tab-pane active" id="upload">
								<h3 class="panel-title panel-title-batch">Upload</h3>
								<div class="well form-group">
                  <div id="bulkUploadFileContainer">
                    <div class="form-group">
                      <label for="bulkUploadName">Batch name (required)</label>
                      <span class="pull-right uploadSource"> Migrate: <input id="resourcesChoice" ng-model="uploadSource" type="radio" name="uploadType" value="resources"> <label for="resourcesChoice">Resources</label>  <input id="emailChoice" ng-model="uploadSource" type="radio" name="uploadType" value="emailarchive"> <label for="emailChoice">Email</label> </span>
                      <span class="bulkUploadName"><input type="text" id="bulkUploadName" class="form-control" name="name" ng-model="upload.name" value=""></span>
                    </div>
                    <div class="form-group bulkUploadFile">
                      <label for="bulkUploadFile">File (required)</label>
                      <input type="file" id="bulkUploadFile" file-model="bulkUploadFile">
                    </div>
                  </div>
                  <div class="form-group">
                    <div ng-show="uploadStarted">
                      <div class="alert alert-success" ng-show="uploadStartedMessage.status===202">{{uploadStartedMessage.data}}</div>
                      <div class="alert alert-danger" ng-show="uploadStartedMessage.status!==202">{{uploadStartedMessage.data}}</div>
                    </div>
                    <button type="reset" name="reset-file-input"
										class="btn btn-default"><strong>Reset</strong></button>
                    <button class="btn btn-primary" ng-click="bulkUpload()"
										name="process-file-input">Process</button>
                    <div class="spinner" ng-show="bulkUploadInProcess"></div>
                  </div>
								</div>
							</form>
							<form role="tabpanel" class="tab-pane" id="direct">
								<h3 class="panel-title panel-title-batch">Direct input</h3>
								<div class="form-group">
									<label for="name">Batch name</label> <input type="text"
										id="name" name="name" value="" class="form-control">
								</div>
								<div class="form-group">
									<textarea name="name" rows="8" class="form-control"></textarea>
								</div>
								<div class="form-group pull-right">
									<div class="spinner" style="display: none"></div>
									<button type="reset" name="reset-direct-input"
										class="btn btn-default">Reset</button>
									<button type="button" name="process-direct-input"
										class="process-direct-input btn btn-default">Process</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

				<div class="panel panel-default"  ng-cloak>
					<div class="panel-heading">
						<h3 class="panel-title">Migrations</h3>
					</div>

					<div class="panel-body">
						<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 0">
							<li role="presentation" class="active"><a href="#ongoing"  ng-click="getOngoingList()"
								aria-controls="upload" role="tab" data-toggle="tab">Ongoing</a></li>
							<li role="presentation"><a href="#concluded"  ng-click="getConcludedList()"
								aria-controls="concluded" role="tab" data-toggle="tab">Concluded</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="ongoing">
								<h3 class="panel-title panel-title-batch">Ongoing</h3>
								<ul class="list-group" style="margin: 0 15px 0">
                  <li ng-show="ongoing.length ===0" class="list-group-item">
                    <div class=" row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        No ongoing batches
                      </div>
                    </div>
                  </li>
                  <li ng-repeat="ongoingBatch in ongoing" class="list-group-item">
                    <div class="row">
  										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <h4 class="site-header">{{ongoingBatch[0]}}</h4>
  										</div>
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a ng-show="!ongoingBatch.list" href="" class="showList btn btn-default btn-xs" ng-click="getUploadList(ongoingBatch[1], $index)">Show
													list</a>
										  </div>
                    </div>
                    <div class="row" ng-show="ongoingBatch.list">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ol>
                          <li ng-repeat="item in ongoingBatch.list">
                            {{item.name}}
                          </li>
                        </ol>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div role="tabpanel" class="tab-pane" id="concluded">
								<h3 class="panel-title panel-title-batch">Concluded</h3>
								<ul class="list-group" style="margin: 0 15px 0">
                  <li ng-show="concluded.length ===0" class="list-group-item">
                    <div class=" row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        No concluded batches
                      </div>
                    </div>
                  </li>
									<li class="list-group-item row" ng-repeat="concludedBatch in concluded">
                    <div class="row">
											<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <h4 class="site-header">{{concludedBatch[0]}}</h4>
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
												<a ng-hide="concludedBatch.list" href="" class="btn btn-default btn-xs" ng-click="getBatchReport(concludedBatch[1], $index)">See
													report</a>
                        <div class="spinner" ng-show="concludedBatch.batchReportLoading"></div>
											</div>
										</div>
                    <div class="row" ng-show="concludedBatch.list">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<table class="table table-striped">
                          <thead>
                            <tr class="row">
                              <th scope="col" class="col-lg-8">Site name</th>
                              <th scope="col"  class="col-lg-4">Report</th>
                            </tr>
                          </thead>
                          <tbody>
  													<tr ng-repeat="site in concludedBatch.list" class="row">
                              <td class="col-lg-8">
                                {{site.name}}
                              </td>
                              <td class="col-lg-4">
                                <div ng-if="!site.name.includes('Cannnot find a CTools site')">
                                  <a href="" ng-show="site.status.toLowerCase()==='success'.toLowerCase() || site.status.toLowerCase()==='failure'.toLowerCase() || site.status.toLowerCase()==='error'.toLowerCase()" data-toggle="modal" data-target="#siteReportModal" ng-click="getSiteReport(concludedBatch[1], site.id)">Site Report</a>
                                  <i class="glyphicon glyphicon-ok" ng-show="site.status.toLowerCase()==='success'.toLowerCase()"></i>
                                  <i class="spinner" ng-show="site.status==='onging'"></i>
                                  <i class="glyphicon glyphicon-fire" ng-show="site.status.toLowerCase()==='failure'.toLowerCase() || site.status.toLowerCase()==='error'.toLowerCase()"></i>
                                </div>
                              </td>
                            </tr>
                          </tbody>
												</table>
											</div>
										</div>

                  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="modal fade" id="siteReportModal" tabindex="-1" role="dialog"
      aria-labelledby="siteReportModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="reportModalLabel">{{reportDetails.type | readableExportType}}</h4>
          </div>
          <div class="modal-body">
            <div class="" ng-show="reportDetails.status.data.length || reportDetails.status.data.length===0">
              Old report format.
            </div>
            <div class="" ng-show="!reportDetails.status.data">
              <div class="container" ng-show="reportDetails.type ==='google'">
                <div class="row" style="width:535px" ng-show="reportDetails.details && reportDetails.details.message !=='OK'">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger">
                      {{reportDetails.details.message}}
                    </div>
                  </div>
                </div>
                <p ng-if="reportDetails.details.add_members.counts.successes > 0">
                  {{reportDetails.details.add_members.counts.successes}} CTools members <strong>successfully </strong>added to Google Group.
                </p>
                <span ng-if="reportDetails.details &&
                 reportDetails.details.add_members.counts.partial_successes > 0"  class="export-fail">
                  {{reportDetails.details.add_members.counts.partial_successes}} partial success(es)
                </span>
                <span ng-if="reportDetails.details &&
                 reportDetails.details.add_members.counts.errors > 0" class="export-fail">
                  {{reportDetails.details.add_members.counts.errors}} members failed to be added.
                </span>
                <span ng-if="reportDetails.details.add_members.counts.errors > 0 || reportDetails.details.add_members.counts.partial_successes > 0">
                  <a href="" ng-click="reportDetails.showMembers = !reportDetails.showMembers">(info?)</a>
                </span>
                <ul ng-show="reportDetails.showMembers"  style="width:535px;list-style:none;margin-top:20px">
                  <li class="row" style="font-weight:bold">
                    <div class="col-lg-4 col-lg-4 col-lg-4">
                      User email
                    </div>
                    <div class="col-lg-4 col-lg-4 col-lg-4">
                      User CTools Role
                    </div>
                    <div class="col-lg-4 col-lg-4 col-lg-4">
                      Google error
                    </div>
                  <li ng-repeat="member in reportDetails.details.add_members.items" class="row">
                    <div class="col-lg-4 col-lg-4 col-lg-4">
                      {{member.item_id.id}}
                    </div>
                    <div class="col-lg-4 col-lg-4 col-lg-4">
                      {{member.item_id.role}}
                    </div>
                    <div class="col-lg-4 col-lg-4 col-lg-4">
                      {{member.message}}
                    </div>
                  </li>
                </ul>
              </div>
              {{reportDetails.type}}
              <div class="container" ng-show="reportDetails.type !=='google'">
                <div class="row" style="width:500px;" >
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      Items exported: {{reportDetails.counts.successes}}
                  </div>
                </div>
                <p ng-show="reportDetails.status === 'PARTIAL' || reportDetails.status === 'ERROR'">
                  <a href="https://its.umich.edu/projects/ctools-project-sites/?q=node/43#" target="_blank">See documentation for assistance on specific errors.</a>
                </p>
                <p>
                  <span class="label label-info" ng-show="reportDetails.counts.successes && reportDetails.counts.successes > 0">Successes: {{reportDetails.counts.successes}} </span>&nbsp;
                  <span class="label label-danger" ng-show="reportDetails.counts.errors && reportDetails.counts.errors > 0">Errors: {{reportDetails.counts.errors}}</span>&nbsp;
                  <span class="label label-warning"  ng-show="reportDetails.counts.partial_successes && reportDetails.counts.partial_successes > 0">Partial successes: {{reportDetails.counts.partial_successes}}</span>
                </p>
              </div>
              <ul class="list-group container"  style="width:550px;margin:0" ng-if="reportDetails.items.length">
              <li class="list-group-item" ng-class="item.item_Status==='PARTIAL'?'list-group-item-warn':list-group-item-danger" ng-repeat="item in reportDetails.items">
                <div class="row">
                  <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9" style="vertical-align: middle">
                    {{item.item_id}} <br>
                    <small>{{item.item_Status}}</small>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" style="text-align:right">
                    <span class="label label-danger">Error</span>
                  </div>
                </div>
              </li>
            </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="boxAuthModal" tabindex="-1" role="dialog"
  	aria-labelledby="boxAuthModalLabel">
  	<div class="modal-dialog" role="document">
  		<div class="modal-content">
  			<div class="modal-body" id="boxIFrameContainer">
  				<iframe class="boxIFrame" id="boxIFrame" src="/box/authorize"
  					frameborder="0"></iframe>
  			</div>
  		</div>
  	</div>
  </div>
  <!-- Box Logout Modal -->
  <div class="modal fade" id="boxLogoutModal" tabindex="-1" role="dialog"
  	aria-labelledby="boxLogoutModalLabel">
  	<div class="modal-dialog" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal"
  					aria-label="Close">
  					<span aria-hidden="true">&times;</span>
  				</button>
  				<h4 class="modal-title" id="myModalLabel">Unauthorize Box
  					Access</h4>
  			</div>
  			<div class="modal-body">Are you sure you want to unauthorize
  				this app to access your Box account?</div>
  			<div class="modal-footer">
  				<button type="button" id ="boxUnauthorize" class="btn btn-primary"
            data-dismiss="modal"
  					ng-click="boxUnauthorize()">Unauthorize</button>
  				<button type="button" class="btn btn-link" data-dismiss="modal"
  					style="color: #005bb2">Cancel</button>
  			</div>
  		</div>
  	</div>
  </div>

	<script type="text/javascript"
		src="vendors/jquery/jquery-1.11.0.min.js"></script>
	<script src="vendors/bootstrap/bootstrap.min.js" type="text/javascript"
		charset="utf-8"></script>
	</div>
	<script type="text/javascript"
		src="vendors/jquery/jquery-1.11.0.min.js"></script>
	<script src="vendors/bootstrap/bootstrap.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="vendors/angular/angular.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="vendors/underscore/underscore-min.js"
		type="text/javascript" charset="utf-8"></script>
	<script src="vendors/moment/moment.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/bulk/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bulk/controllers.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bulk/factories.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/directives.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/filters.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/utils.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
