<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Project Site Migration - Batch</title>
<link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/custom.css">
</head>

<body ng-app="projectMigrationApp">
<nav role="navigation" class="navbar navbar-default"
		style="background: #00274c">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header mastHead">
				<button data-target="#bs-example-navbar-collapse-1"
					data-toggle="collapse" class="navbar-toggle collapsed"
					type="button">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<h1 class="navbar-brand collapse-nav" style="margin: 0; color: #fff">Project
					Site Migration - Batch</h1>
			</div>
			<div id="bs-example-navbar-collapse-1"
				class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="btn btn-md btn-link" class="collapse-nav"
						href="index.html" style="color: #fff">Self Serve</a></li>
					<li><a class="btn btn-md btn-primary" id="helpLink"
						class="collapse-nav"
						href="http://its.umich.edu/projects/ctools-project-sites/training-resources/migration-tool-help"
						style="color: #fff" target="_blank">Migration Tool Help</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid" ng-controller="projectMigrationBatchController">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Start a batch migration</h3>
					</div>
					<div class="panel-body">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#upload"
								aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
							<li role="presentation"><a href="#direct"
								aria-controls="direct" role="tab" data-toggle="tab">Direct
									input</a></li>
						</ul>
						<div class="tab-content">
							<form role="tabpanel" class="tab-pane active" id="upload">
								<h3 class="panel-title panel-title-batch">Upload</h3>
								<div class="well form-group">
                  <div id="bulkUploadFileContainer">
                    <div class="form-group">
                      <label for="bulkUploadName">Batch name (required)</label>
                      <input type="text" id="bulkUploadName" class="form-control" name="name" ng-model="upload.name" value="">
                    </div>
                    <div class="form-group">
                      <label for="bulkUploadFile">File (required)</label>
                      <input type="file" id="bulkUploadFile" file-model="bulkUploadFile">
                    </div>
                  </div>
                  <div class="form-group">
                    <div ng-show="uploadStarted">
                      <div class="alert alert-success" ng-show="uploadStartedMessage.status===202">{{uploadStartedMessage.data}}</div>
                      <div class="alert alert-danger" ng-show="uploadStartedMessage.status!==202">{{uploadStartedMessage.data}}</div>
                    </div>
                    <button type="reset" name="reset-file-input"
										class="btn btn-link">Reset</button>
                    <button class="btn btn-primary btn-xs" ng-click="bulkUpload()"
										name="process-file-input">Process</button>
                    <div class="spinner" ng-show="bulkUploadInProcess"></div>
                  </div>
								</div>
							</form>
							<form role="tabpanel" class="tab-pane" id="direct">
								<h3 class="panel-title panel-title-batch">Direct input</h3>
								<div class="form-group">
									<label for="name">Batch name</label> <input type="text"
										id="name" name="name" value="" class="form-control">
								</div>
								<div class="form-group">
									<textarea name="name" rows="8" class="form-control"></textarea>
								</div>
								<div class="form-group pull-right">
									<div class="spinner" style="display: none"></div>
									<button type="reset" name="reset-direct-input"
										class="btn btn-link">Reset</button>
									<button type="button" name="process-direct-input"
										class="process-direct-input btn btn-primary">Process</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

				<div class="panel panel-default"  ng-cloak>
					<div class="panel-heading">
						<h3 class="panel-title">Migrations</h3>
					</div>

					<div class="panel-body">
						<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 0">
							<li role="presentation" class="active"><a href="#ongoing"  ng-click="getOngoingList()"
								aria-controls="upload" role="tab" data-toggle="tab">Ongoing</a></li>
							<li role="presentation"><a href="#concluded"  ng-click="getConcludedList()"
								aria-controls="concluded" role="tab" data-toggle="tab">Concluded</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="ongoing">
								<h3 class="panel-title panel-title-batch">Ongoing</h3>
								<ul class="list-group" style="margin: 0 15px 0">
                  <li ng-show="ongoing.length ===0" class="list-group-item">
                    <div class=" row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        No ongoing batches
                      </div>
                    </div>
                  </li>
                  <li ng-repeat="ongoingBatch in ongoing" class="list-group-item">
                    <div class="row">
  										<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <h4 class="site-header">{{ongoingBatch[0]}}</h4>
  										</div>
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a ng-show="!ongoingBatch.list" href="" class="showList btn btn-default btn-xs" ng-click="getUploadList(ongoingBatch[1], $index)">Show
													list</a>
										  </div>
                    </div>
                    <div class="row" ng-show="ongoingBatch.list">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Site name</th>
                            </tr>
                          </thead>
                          <tbody>
  													<tr ng-repeat="item in ongoingBatch.list">
                              <td>
                                {{item.site_name}}
                              </td>
                            </tr>
                          </tbody>
												</table>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div role="tabpanel" class="tab-pane" id="concluded">
								<h3 class="panel-title panel-title-batch">Concluded</h3>
								<ul class="list-group" style="margin: 0 15px 0">
                  <li ng-show="concluded.length ===0" class="list-group-item">
                    <div class=" row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        No concluded batches
                      </div>
                    </div>
                  </li>
									<li class="list-group-item row" ng-repeat="concludedBatch in concluded">
                    <div class="row">
											<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <h4 class="site-header">{{concludedBatch[0]}}</h4>
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
												<a ng-hide="concludedBatch.list" href="" class="btn btn-default btn-xs" ng-click="getBatchReport(concludedBatch[1], $index)">See
													report</a>
                        <div class="spinner" ng-show="concludedBatch.batchReportLoading"></div>
											</div>
										</div>
                    <div class="row" ng-show="concludedBatch.list">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Site name</th>
                              <!--
                              <th scope="col">Destination</th>
                              -->
                              <th scope="col">Report</th>
                            </tr>
                          </thead>
                          <tbody>
  													<tr ng-repeat="item in concludedBatch.list">
                              <td>
                                {{item.split(':')[0]}}
                              </td>
                              <!--
                              <td>
                                <a target="_top" href="{{item.destination_url}}">{{item.destination_url | destinationLinkName}}</a>
                              </td>
                              -->
                              <td>
                                <a href="" data-toggle="modal" data-target="#siteReportModal" ng-click="getSiteReport(concludedBatch[1], item.split(':')[0])">Site Report</a>
                                <i class="glyphicon glyphicon-ok" ng-show="item.split(':')[1]===' success'"></i>
                                <i class="glyphicon glyphicon-fire" ng-show="item.split(':')[1]===' failure'"></i>
                              </td>
                            </tr>
                          </tbody>
												</table>
											</div>
										</div>

                  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="modal fade" id="siteReportModal" tabindex="-1" role="dialog"
      aria-labelledby="siteReportModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="siteReportModalLabel">Report for site {{siteReport.site_name}}</h4>
          </div>
          <div class="modal-body" style="">
            <div class="container">
              <p>
                {{siteReport.tool_name}}. <div class="spinner" ng-show="siteReportLoading"></div>
                Destination: {{siteReport.destination_type | uppercase}}.

                <a href="siteReport.destination_url" target="_top">{{siteReport.destination_url | destinationLinkName}}</a>
              </p>

              <ul class="list-group" style="margin: 0 0;width:535px">
                <li ng-repeat="item in siteReport.status.data" ng-if="!$first" class="list-group-item">
                  <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                      {{item.file_name}}
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                      <i class="{{item.status | whatStatus}}"></i>
                    </div>
                  </div>
                  <div class="row" ng-show="item.status.indexOf('success') ===-1 && item.status.indexOf('created') ===-1">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <small>{{item.status}}</small>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>




	<script type="text/javascript"
		src="vendors/jquery/jquery-1.11.0.min.js"></script>
	<script src="vendors/bootstrap/bootstrap.min.js" type="text/javascript"
		charset="utf-8"></script>
	</div>
	<script type="text/javascript"
		src="vendors/jquery/jquery-1.11.0.min.js"></script>
	<script src="vendors/bootstrap/bootstrap.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="vendors/angular/angular.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="vendors/underscore/underscore-min.js"
		type="text/javascript" charset="utf-8"></script>
	<script src="vendors/moment/moment.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/bulk/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bulk/controllers.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bulk/factories.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/directives.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/filters.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/utils.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
