<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Report details</title>
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body ng-app="projectMigrationApp">
  <div ng-controller="reportController" class="container" style="padding:20px">
  	<div class="row">
  		<div class="col-md-6 col-lg-6 col-sm-6 col-xs-16">
  			Items exported: {{reportDetails.data.length}}
  		</div>
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-16" style="text-align:right">
  			<button ng-show="!showPaths" class="btn btn-default" type="button" ng-click="showPaths = !showPaths">Show paths</button>
  			<button ng-show="showPaths" class="btn btn-default" type="button" ng-click="showPaths = !showPaths">Hide paths</button>
  		
  		</div>
  	</div>	
  	<br>
    <div class="alert alert-info">{{reportDetails.status}}</div>
    

		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="item in reportDetails.data">
		    <span class="badge"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span> <span ng-show="showPaths">{{item.path}}</span><span ng-hide="showPaths">{{item.file_name}}</span>
		    
		  </li>
		</ul>
  </div>
  <script type="text/javascript" src="vendors/jquery/jquery-1.11.0.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="vendors/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="vendors/angular/angular-animate.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="vendors/underscore/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="vendors/moment/moment.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/controllers.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/factories.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/utils.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
